@charset "UTF8";
/* 
#c5ebd6
#83e1ad
#3bdc84
#2fa866
#1a5c37
#063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3bdc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica,  sans-serif;
    --fonte-desauqe:'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0;
      padding: 0;
      a.externo:after {
      content: \ 1f517;  
      }
}
body {
    background: var(--cor0);
    font-family: var(--fonte-android);
}


   header {
    font-family: var(--fonte-desauqe);
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
        min-height: 150px;
        text-align: center;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.084);
    }
header > h1 {
    color: white;
    padding-top: 30px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.040);

}
header > p { 
    color: white;
    font-family: var(--fonte-padrao);
    padding: 20px 10px 0 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.040);
    margin-bottom: 5px;
}

nav {
    background: var(--cor5);
    padding: 10px;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);
     font-family: var(--fonte-padrao);
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: .5s;
}
main {
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    min-width: 300px;
    max-width: 70%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
    border-radius: 0 0 20px 20px;
}
main h1 {
    color: var(--cor5);
    font-weight: normal;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px ;
    font-weight: normal;
}
main p {
    margin: 15px 0 ;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
    font-size: 1em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    
}
main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 2px 6px;

}
main a:hover{
    text-decoration: solid;
    color: var(--cor4);

}
main img {
    display: block;
    margin: auto;
    width: 100%; /* Só aplica se NÃO tiver classe pqn */
    max-width: 100%;
    height: auto;
}

main img.pqn {
    width: 800px !important;
    height: auto !important;
    
}
div.video {
    background-color: var(--cor5);
    margin-bottom: 50px;
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom:59%;
    position:relative ;
}
div.video > iframe {
    position:absolute;
    top:4.5%;
    left:5% ;
    width: 90% ;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.058);

}
aside ul {
    list-style-type: \2714\00A0\00A0;
    list-style-position: inside;
    columns: 2;
}
aside h3 {
    background: var(--cor4);
    padding: 5px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
    
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}